a{
    color: aqua;
    left: 90%;
    font-size: 25px;
    text-decoration: none;
    top: 2%;
    font-family: Times New Roman;
    position: absolute;
}

a:hover{
    color: aquamarine;
}

div.links {
    border: 25px solid #a667ea;
    background: #a667ea;
}

div.adds{
    height: 100%;
}

body{
    background: #4d075b;
    height: 100%;
}

table{
    margin: 2%;
    float: left;
    width: 29%;
    height: 80%;
}

td{
    border: solid 2px #a667ea;
}

tr.photo{
    border: solid 2px #a667ea;
    height: 50%;
}

tr.descr{
    color: wheat;
    border: solid 2px #a667ea;
    height: 40%;
    text-align: left;
    vertical-align: top;
}

tr.price{
    border: solid 2px #a667ea;
    height: 8%;
    text-align: center;
}

tr.phone{
    border: solid 2px #a667ea;
    height: 8%;
    color: wheat;
    text-align: center;
}
