a{
    color: aqua;
    left: 90%;
    font-size: 25px;
    text-decoration: none;
    top: 2%;
    font-family: Times New Roman;
    position: absolute;
}

a:hover{
    color: aquamarine;
}

div {
    border: 25px solid #a667ea;
    background: #a667ea;
}

body{
    background: #4d075b;
}