a {
    color: aqua;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    top: 2%;
}

a:hover{
    color: aquamarine;
}

p {
    position: absolute;
    left: 42%;
    font-size: 50px;
    color: wheat ;
    font-family: Dubai
}

div {
    border: 25px solid #a667ea;
    background: #a667ea;
}

body{
    background: #4d075b;
}

table{
    position: absolute;
    width: 25%;
    height: 70%;
    border-spacing: 10px;
}

th{
    border: solid 2px #a667ea;
    aign: center;
}

tr.photo{
    border: solid 2px #a667ea;
    height: 50%;
}

tr.descr{
    border: solid 2px #a667ea;
    height: 40%;
}

tr.price{
    border: solid 2px #a667ea;
    height: 5%;
}

tr.phone{
    border: solid 2px #a667ea;
    height: 5%;
}