<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Ad feed</title>
    <link rel = stylesheet type="text/css" href = "/static/css/ad_feed_unlog.css" th:href="@{/css/ad_feed_unlog.css}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/ico/apple-touch-icon.ico" th:href="@{/ico/apple-touch-icon.ico}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/ico/favicon-32x32.ico" th:href="@{/ico/favicon-32x32.ico}">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/ico/favicon-16x16.ico" th:href="@{/ico/favicon-16x16.ico}">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<div class = "links">
    <a href="/">To main page</a>
</div>
<div class ="adds">
    <table th:each="add : ${adds}">
        <tr><td class = "photo" ></td></tr>
        <tr><td class = "descr" th:text="${add.getDescription()}"></td></tr>
        <tr><td class = price th:text="${add.getPrice()} + ' BYN'"></td></tr>
        <tr><td class = "phone" th:text="${add.getPhone()}"></td></tr>
    </table>
</div>
</body>
</html>