<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ad feed</title>
</head>
<body style="background: #4d075b">
<div class="container-fluid" style="background: #a667ea">
    <a href="/">To main page</a>
    <style>
        a{
            color: aqua;
            left: 90%;
            font-size: 25px;
            text-decoration: none;
            top: 2%;
            font-family: Times New Roman;
            position: absolute;
        }
        a:hover{color: aquamarine}
        div {border: 25px solid #a667ea}
    </style>
</div>
</body>
</html>