<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org", style = "height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Ad feed</title>
    <link rel = stylesheet type="text/css" href = "/static/css/ad_feed.css" th:href="@{/css/ad_feed.css}" />
</head>
<body>
<div class = "links">
<form th:action="@{/logout}" href="/" method="post">
    <input type="submit" value="Logout"/>
</form>
    <a href="/main">To main page</a>
</div>
<div class ="adds">
<table th:each="add : ${adds}">
    <tr><td class = "photo" ></td></tr>
    <tr><td class = "descr" th:text="${add.getDescription()}"></td></tr>
    <tr><td class = price th:text="${add.getPrice()} + ' BYN'"></td></tr>
    <tr><td class = "phone" th:text="${add.getPhone()}"></td></tr>
</table>
</div>
</body>
</html>