<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel = stylesheet type="text/css" href = "/static/css/login.css" th:href="@{/css/login.css}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/ico/apple-touch-icon.ico" th:href="@{/ico/apple-touch-icon.ico}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/ico/favicon-32x32.ico" th:href="@{/ico/favicon-32x32.ico}">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/ico/favicon-16x16.ico" th:href="@{/ico/favicon-16x16.ico}">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<div>
<a href="/" style="left: 90%">To main page</a>
<a href="/register" style="left: 83%">Sign up</a>
</div>
<divF>
<form th:action="@{/login}" method="post">
    <label class="Nt">Enter username:</label>
    <input type="text" class="N" name="username"/>
    <label class="Pt">Enter password:</label>
    <input type="password" class="P" name="password"/>
    <input type="submit" class="S" value="Login"/>
</form>
</divF>
</body>
</html>