<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style = "height: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel = stylesheet type="text/css" href = "/static/css/main_unlog.css" th:href="@{/css/main_unlog.css}" />
</head>
<body>
<div class="top">
<div class="links">
    <a href="/ad_feed_unlog" style="left: 75%">Ad feed</a>
    <a href="/login" style="left: 85%">Login</a>
    <a href="/register" style="left: 90%">Sign up</a>
</div>
    <h1>Latest ads:</h1>
</div>
<div class ="adds">
    <table th:each="add : ${adds}">
        <tr class = "photo" ><td>Фото</td></tr>
        <tr class = "descr" style="align: left;" ><td th:text="${add.getDescription()}" style="align: left;"></td></tr>
        <tr class = price></tr><td th:text="${add.getPrice()} + ' BYN'" style="color: wheat;"></td></tr>
        <tr class = "phone"><td th:text="${add.getPhone()}"></td></tr>
    </table>
</div>
</body>
</html>