<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel = stylesheet type="text/css" href = "/static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
    <div>
        <a href="/ad_feed" style="left: 75%">Ad feed</a>
        <a href="/add_ad" style="left: 85%">Add ad</a>
        <a href="/your_adds" style="left: 90%">My adds</a>
        <form th:action="@{/logout}" href="/" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
    <p>Latest ads:</p>
    <table style="left: 6%; top: 20%;">
        <tr class = "photo"><th> Фото 1 </th></tr>
        <tr class = "descr"><th> Описание 1 </th></tr>
        <tr class = "price"><th> Цена 1 </th></tr>
        <tr class = "phone"><th> Телефон 1 </th></tr>
    </table>
    <table style="left: 36%; top: 20%;">
        <tr class = "photo"><th> Фото 2 </th></tr>
        <tr class = "descr"><th> Описание 2 </th></tr>
        <tr class = "price"><th> Цена 2 </th></tr>
        <tr class = "phone"><th> Телефон 2 </th></tr>
    </table>
    <table style="left: 66%; top: 20%;">
        <tr class = "photo"><th> Фото 3 </th></tr>
        <tr class = "descr"><th> Описание 3 </th></tr>
        <tr class = "price"><th> Цена 3 </th></tr>
        <tr class = "phone"><th> Телефон 3 </th></tr>
    </table>
</body>
</html>